In [2]:
import pandas as pd

In [3]:
wines = pd.read_csv('winequality-red.csv')

In [4]:
wines.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
variables = ['total sulfur dioxide', 'pH']
sigma = wines[variables].std()
v_mean = wines[variables].mean()

In [6]:
sigma

total sulfur dioxide    32.895324
pH                       0.154386
dtype: float64

In [7]:
v_mean

total sulfur dioxide    46.467792
pH                       3.311113
dtype: float64

In [8]:
low_boundary = (v_mean - 3 * sigma)
upp_boundary = (v_mean + 3 * sigma)
num_of_outliers_L = (wines[variables] < low_boundary).sum()
num_of_outliers_U = (wines[variables] > upp_boundary).sum()
outliers_3sigma = pd.DataFrame({'lower_boundary':low_boundary, 'upper_boundary':upp_boundary,'num_of_outliers_L':num_of_outliers_L, 'num_of_outliers_U':num_of_outliers_U})

In [9]:
outliers_3sigma

,lower_boundary,upper_boundary,num_of_outliers_L,num_of_outliers_U
total sulfur dioxide,-52.218181,145.153766,0,15
pH,2.847954,3.774273,1,7